*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    margin: 20px auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;

}
.flex-item1{
    background-color: brown;
    width: 3rem;
    padding: 3rem;
    height: 3rem;
    border: 1px solid brown;

}
.flex-item2{
    background-color: red;
    width: 1rem;
    padding: 5rem;
    height: 15rem;
    font-size: 5rem;


}