*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: aqua;
    margin: 20px auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}
.flex-item{
    background-color: brown;
    width: 3rem;
    padding: 3rem;
    height: 3rem;
    border: 1px solid brown;

}